<div class="panel panel-default">
  <div class="panel-body">
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Left">Left</label>
      <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Middle">Middle</label>
      <label class="btn btn-primary" [(ngModel)]="radioModel" btnRadio="Right">Right</label>
    </div>
    <div class="panel-footer">
      {{radioModel}}
    </div>
  </div>
</div>

<div *ngIf="showInModal">
  <button type="button" class="btn btn-primary" (click)="close()">Close</button>
</div>